body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.top {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 25px;
}

.section {
  width: 90%;
  margin: 15px auto;
  padding: 15px;
  background: #ffffff;
}

h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.grid {
  display: block;
}

.box {
  background: #e9ecf3;
  padding: 10px;
  margin-bottom: 10px;
}

.project {
  background: #e9ecf3;
  padding: 10px;
}

a {
  color: #2c3e50;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 18px;
  font-size: 14px;
  color: #555;
}
